body {
    background-color: #032957;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

h1 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 5rem;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 3rem;
    margin-right: 1rem;
    align-self: flex-start;
    margin: 1.5rem;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
}